


<div id="contentOfDetails">
  <div>
  <h3 class="text-center" id="quotebookName">{{quotebook.name}}</h3>
</div>

<div class="text-center" id="allTheQuotes">
  {{#each quotebook.quotes}}
    <div class="secondCard">
      <p class="colorBlue italic">"{{this.name}}"</p>
        <hr>
      <p class="colorBlue flexedSized"><img id="noteImage" src="/../images/note.png" alt=""> {{this.song}}</p>
      <p class="colorBlue flexedSized"><img id="microphoneImage" src="/../images/microphone.png" alt=""> {{this.artist}}</p>


        <div class="flexIcons">
          <form action="">
            <button class="close" aria-label="Close"><span aria-hidden="true"><img src="/../images/pencil.png" alt=""   id="pencil"></span></button>
          </form>
          <form action="/user/deleteQuote/{{this._id}}/{{this.quotebook}}" method="post">
            <button class="close" aria-label="Close"><span id="cross" aria-hidden="true">&times;</span></button>
          </form>
        </div>
      
      
    </div>
  {{/each}}
</div>

{{!-- <form action="/user/addQuote/{{quotebook._id}}" method="post" class="text-center">
  <label for="addQuoteInput">Add Your Quote</label>
  <input id="addQuoteInput" type="text" name="quoteInput" />
  <br />

  <label for="addSongInput">From What Song</label>
  <input id="addSongInput" type="text" name="songInput" />
  <br />

  <label for="addArtistInput">Which Artist Said this Quote?</label>
  <input id="addArtistInput" type="text" name="artistInput" />
  <br />

  <button>Save Your Quote</button>
</form>

<form action="/user/deleteQuotebook/{{quotebook._id}}" method="post" class="text-center">
  <button>Delete This QuoteBook</button>
</form> --}}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="container" id="addNewQuote">
  <div class="login-signup flexCentered">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row" id="createAccountInside">
          <div class="col-sm-12 mobile-pull login">
            <article role="login">
              <h4 class="text-center" id="createYourUserText">Create Quote</h4>
              <form action="/user/addQuote/{{quotebook._id}}" method="POST">
                 <div class="form-group">
                   <input type="text" class="form-control" placeholder="Quote" name="quoteInput" required>
                </div>
                <div class="form-group">
                   <input type="text" class="form-control" placeholder="Song" name="songInput" required>
                 </div>
                <div class="form-group">
                   <input type="text" class="form-control" placeholder="Artist/Band" name="artistInput" required>
                </div>
                <div class="form-group">
                   <input type="submit" class="btn btn-success btn-block"  value="Create">
                </div>
               </form>
               <form action="/user/deleteQuotebook/{{quotebook._id}}" method="post" class="text-center">
                <button class="btn btn-danger" id="deleteFontSize">Delete Quotebook</button>
               </form>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

 